.App {
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;
}
.category-checkbox {
  display: flex;
  margin-bottom: -10px;
  margin-top: -30px;
}

.category-checkbox div {
  padding: 30px;
}

#email {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#email div {
  margin-right: 40px;
}
#submit {
  margin-top: 30px;
}

.newsletter {
  padding-left: 10vw;
  background-color: #fcead7;
  color: #2e475d;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer {
  background-color: #14213d;
  height: 20vh;
  align-items: center;
  color: aliceblue;
  text-align: center;
}

.icons img {
  padding: 10px 10px;
}
.inputstyle {
  width: 320px;
}
.email-section {
  margin: 30px;
  margin-bottom: 24px;
  gap: 80px;
}
.email-section button {
  background-color: #ff5c35;
  color: #fff2d8;
  border: none;
  padding: 8px;
  width: 160px;
}
.footer-links {
  display: inline-flex;
  flex-direction: row;
  display: flex;
  background-color: #14213d;
  color: #fff;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-decoration: none;
}
.footer-links a {
  color: #fff;
  border-right: 1px solid #fff;
}
.policy {
  color: #2e4c84;
  font-weight: 500;
}
.email-section input {
  padding: 8px;
  border: 0.5 solid #7691ad;
}
