.App {
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
}
.category-checkbox {
  display: flex;
  margin-bottom: -10px;
  margin-top: -30px;
}

.category-checkbox div {
  padding: 30px;
}

#email {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#email div {
  margin-right: 40px;
}
#submit {
  margin-top: 30px;
}

.newsletter {
  padding-left: 10vw;
  background-color: #fcead7;
  color: #2e475d;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer {
  background-color: #14213d;
  height: 20vh;
  align-items: center;
  color: aliceblue;
  text-align: center;
}

.icons img {
  padding: 10px 10px;
}
.inputstyle {
  width: 320px;
}
.email-section {
  margin: 30px;
  margin-bottom: 24px;
  gap: 80px;
}
.email-section button {
  background-color: #ff5c35;
  color: #fff2d8;
  border: none;
  padding: 8px;
  width: 160px;
}
.footer-links {
  display: inline-flex;
  flex-direction: row;
  display: flex;
  background-color: #14213d;
  color: #fff;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-decoration: none;
}
.footer-links a {
  color: #fff;
  padding-right: 32px;
  border-right: 1px solid #fff;
}
.policy {
  color: #2e4c84;
  font-weight: 500;
}
.email-section input {
  padding: 8px;
  border: 0.5 solid #7691ad;
}

#logo {
  margin-left: 0px;
  text-decoration: none;
  color: #ede0d4;
  list-style: none;
  font-size: 16px;
}
#logo::after {
  content: "";
  width: 0%;
  height: 2px;
  display: block;
  margin: auto;
  background: #ede0d4;
  transition: 0.5s;
}
#logo:hover::after {
  width: 100%;
}
#logo-i {
  width: 65px;
  height: 65px;
  border-radius: 36px;
  margin-right: 15px;
}

.Navbar {
  padding-top: 40px;
  background-color: #ffffff;
  width: 100%;
  text-align: right;
  position: sticky;
  top: 0px;
  z-index: 1000;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  align-items: center;
  padding: 16px;
}
.Navbar ul {
  display: flex;
  align-items: baseline;
  margin: 0px;
  gap: 80px;
  color: #2e475d;
  list-style: none;
  text-decoration: none;
  width: 100%;
}

.Navbar ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 10px;
  position: relative;
}

.Navbar ul li a {
  color: #ede0d4;
  text-decoration: none;
  font-size: 16px;
}

.Navbar ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  display: block;
  margin: auto;
  background: #ff5c35;
  transition: 0.5s;
}

.Navbar ul li:hover::after {
  width: 100%;
}

.addblogbtn {
  width: 200px;
  background-color: #14213d;
  border: 0px;
  color: #fff;
  padding: 10px;
}

.search input {
  padding: 8px 8px;
  margin: 0px;
  border: 0px;
  outline: none;
}
.sort {
    display: flex;
    margin-top: 50px;
    margin-bottom: 35px;
    margin-left: 190px;
    gap: 24px;
}
.sort Button {
    border: 1px solid #162953;
    outline: none;
    border-radius: 64px;
    padding: 8px 24px;
    background: #fff;
    color: black;

}
.sort select{ 
    border: 1px solid #14213d;
    outline: none;
    border-radius: 64px;
    padding: 8px 24px;
    background: #fff;
    color: black;

}
.sort Button:hover{
    
    border: 1px solid #ff5c35;
    color: #fff;
    background-color: #ff5c35;

}

.author {
    background-color: #fcead7;
    padding: 6px 24px;
    text-align: center;
    width: auto;
    border-radius: 64px;
}
#showAddBlog {
    display: flex;
    justify-content: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid#fff2d8;
    margin: 100px;
    
}
#showAddBlog form *{
    margin-bottom: 16px;
    padding: 8px; 
    width: 480px;

}
.table {
   
    justify-content: center;
    display: flex;
    gap: 40px;
    align-self: baseline;
    
}
.sub-nav {
    display: flex;
    gap: 10px;
}
#cat{
border-radius: 10px;
border: 1px solid#2e475d;
}

#author {
    border-radius: 10px;
    border: 1px solid#2e475d;
}
#post {
    border-radius: 10px;
    border: 1px solid#2e475d;

}
.table {
    
    align-items: baseline;
    
    
    
}
.table-input input{
    width: 100px;
    border-radius: 10px;
    border: 1px solid#2e475d;
    
}
#submitBlogbtn {
    background-color: #ff5c35;
    color: #fff2d8;
    border: none;
    padding: 8px;
    width: 150px;

}
#blogHeading {
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    text-decoration: underline;
}
.policy {
    font-size: medium;
}

.Category{
  border-color: #2e475d;
}

.blogpostheading{
    text-align: center;
    font-size: 2em;
    text-decoration: underline;

#thumbnail{
  min-height: 300px;
  max-height: 300px;

  min-width: 400px;
  max-width: 400px;

  margin: 0px;

  background-size: cover;
  
}